// GLOBAL variables
$primary: #B99227;
$secondary: #D1CC92;
$text-muted: #797A71;
$text-primary: #797A71;

$background: #0F1417;
$secondBackground: #242C33;
$barBackground: #232323;
$mainText: #F9FCE4;
$light-dark-text: #B9BAAB;
$secondaryText: #D1CC92;
$thirdText: #B99227;
